@model ZTC.Model.ServicoMensalista

@{
    ViewBag.Title = "Criar Novo Mensalista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tableUsuario tr td {
        padding: 5px 5px 5px 5px;
    }

    .drop-down {
        height: 20px;
    }

    .error {
        color: #a94442;
    }
</style>


<script src="~/Scripts/jquery.worked-hours-grid.js"></script>
<script src="~/Scripts/jquery.worked-hours-grid.min.js"></script>
<h2>Criar Novo Serviço Mensalista</h2>
<div class="content">

    <form action="@Url.Action("Create", "ServicoMensalista")" method="POST" name="form1">
        <input type="hidden" name="idMensalista" id="idMensalista" />

        <table class="CadPro ts-grid">

            <tr>
                <td width="130px">
                    <span>Placa</span>
                </td>
                <td colspan="5">
                    <input type="text" name="placa" id="placa" class="input-pdr" style="width: 173px;" required="required" />
                    <button id="btnBuscarPorNomeEmpresa" class="btnPesquisar tooltipicon" data-title="Pesquisar"><span class="glyphicon glyphicon-search"></span></button>
                    <button type="button" name="limparCampos1" id="limparCampos1" value="Limpar" onclick="limparCampos()" title="Limpar Dados Empresa" alt="Limpar Dados Empresa" class="btn btn-sm btn-row glyphicon glyphicon-remove hide"></button>
                </td>
            </tr>
            <tr>
                <td>Carro</td>
                <td>
                    <input type="text" id="carro" name="carro" class="input-pdr" style="width: 173px" required="required" />
                </td>
                <td>Nome Cliente</td>
                <td>
                    <input type="text" id="nomeCliente" name="nomeCliente" class="input-pdr" style="width: 220px" />
                </td>


            </tr>

            <tr>
                <td>Data Entrada</td>
                <td colspan="1">
                    <input name="dataEntrada" id="dataEntrada" type="text" class="input-pdr datetimepicker" style="width: 110px" value="@DateTime.Now"/>
                    @*<input class="input-pdr timepicker_bottom text-box single-line" id="horaEntrada" maxlength="5" name="horaEntrada" style="width:60px" type="text">*@
                    @*<input class="input-pdr timepicker_bottom text-box single-line" id="horaEntrada" maxlength="5" name="horaEntrada" style="width:60px" type="text" value="@DateTime.Now.ToShortTimeString()">*@
                </td>
                <td>Data Saída</td>
                <td>
                    <input name="dataSaida" id="dataSaida" type="text" class="input-pdr datetimepicker" style="width: 110px" value="@DateTime.Now" />
                    @*<input class="input-pdr timepicker_bottom text-box single-line" id="horaSaida" maxlength="5" name="horaSaida" style="width:60px" type="text">*@
                    @*<input class="input-pdr timepicker_bottom text-box single-line" id="horaSaida" maxlength="5" name="horaSaida" style="width:60px" type="text" value="@DateTime.Now.ToShortTimeString()">*@
                </td>


            </tr>

            <tr class="ts-row">
                <td>Hora Entrada / Saída</td>
                @*<td class="ts-range">
                <input class="ts-time ts-start" type="time" value="10:00" /> to
                <input class="ts-time ts-end" type="time" value="12:00" />
            </td>*@

                <td class="ts-range">
                    <input class="ts-time ts-start" type="time" value="" id="horaEntrada" name="horaEntrada" /> -
                    <input class="ts-time ts-end" type="time" value="" id="horaSaida" name="horaSaida"/>
                </td>
                <td class="ts-sum" id="totalHoras" name="totalHoras" data-nome="totalHoras">
                    <input type="text" class="ts-time ts-sum" id="totalHoras" name="totalHoras" style="width: 173px" />
                </td>
            </tr>


            <tr>
                <td>Serviço 1:</td>
                <td style="position: relative;">
                    <select name="servico1" id="servico1" style="width: 170px">
                        <option>-</option>
                        <option name="servico1" value="Estacionamento">Estacionamento</option>
                        <option name="servico1" value="Lavagem">Lavagem</option>
                        <option name="servico1" value="Outros">Outros</option>
                    </select>
                </td>
                <td>Obs</td>
                <td>
                    <textarea type="text" id="obs1" name="obs1" class="input-pdr" style="width: 220px" cols="10" rows="2"></textarea>
                </td>

            </tr>

            <tr>
                <td>Serviço 2:</td>
                <td style="position: relative;">
                    <select name="servico2" id="servico" style="width: 170px">
                        <option>-</option>
                        <option name="servico2" value="Estacionamento">Estacionamento</option>
                        <option name="servico2" value="Lavagem">Lavagem</option>
                        <option name="servico2" value="Outros">Outros</option>
                    </select>
                </td>
                <td>Obs</td>
                <td>
                    <textarea type="text" id="obs2" name="obs2" class="input-pdr" style="width: 220px" cols="10" rows="2"></textarea>
                </td>

            </tr>

            <tr>
                <td>Serviço 3:</td>
                <td style="position: relative;">
                    <select name="servico3" id="servico3" style="width: 170px">
                        <option>-</option>
                        <option name="servico3" value="Estacionamento">Estacionamento</option>
                        <option name="servico3" value="Lavagem">Lavagem</option>
                        <option name="servico3" value="Outros">Outros</option>
                    </select>
                </td>
                <td>Obs</td>
                <td>
                    <textarea type="text" id="obs3" name="obs3" class="input-pdr" style="width: 220px" cols="10" rows="2"></textarea>
                </td>

            </tr>



            <tr>
                <td>Valor Serviço</td>
                <td>
                    <input type="text" id="valorServico" name="valorServico" class="input-pdr moeda" style="width: 173px" value="0,01"/>
                </td>
                <td>Valor Hora</td>
                <td>
                    <input type="text" id="valorHora" name="valorHora" class="input-pdr moeda" style="width: 220px" value="0,01"/>
                </td>


            </tr>

            <tr>
                @*<td>Total de Horas</td>
    <td>
        <input type="text" id="totalHoras" name="totalHoras" class="input-pdr" style="width: 173px" />
    </td>*@
                <td>Valor Total</td>
                <td>
                    <input type="text" id="valorTotal" name="valorTotal" class="input-pdr moeda" style="width: 220px" value="0,01"/>
                </td>


            </tr>
            



            <tr>
                <td>Forma de Pagamento</td>
                <td>
                    <input type="text" id="formaPagamento" name="formaPagamento" class="input-pdr" style="width: 173px" />
                </td>
                <td>Fechado:</td>
                <td width="166px">
                    @Html.EditorFor(model => model.Fechado)
                    @Html.ValidationMessageFor(model => model.Fechado, "", new { @class = "text-danger" })
                </td>


            </tr>

   

            <tr>
                <td colspan="6">
                    <input type="submit" value="Salvar" id="btnSalvar" class="btn btnGreen" style="width: 85px; height: 34px; margin-left: 130px;" />
                    <a href='@Url.Action("/", "ServicoMensalista")'>
                        <input type="button" class="btn btnWhite dropdown-toggle" value="Cancelar" style="width: 85px; height: 34px;" />
                    </a>
                </td>
            </tr>


        </table>
    </form>


</div>
<div id="popUpEmpresas" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header" style="border-bottom: 1px solid #ffffff;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="listEmpresas">

            </div>

        </div>

    </div>
</div>

<script>
    $(function ($) {
        $("#placa").mask("aaa-9999");
    });
</script>

<script type='text/javascript'>
	"use strict";
	$(function() {
      $(".ts-grid").workedHoursGrid({
        selectors: {
            	row: ".ts-row",
            	range: ".ts-range",
            	start: ".ts-start",
            	end: ".ts-end",
            	sum: ".ts-sum",
            	total: ".ts-total"
			}
      });
    });
</script>

<script>
    $("#btnBuscarPorNomeEmpresa").click(function () {
        CarregarEmpresaNomeEmpresa();
    });

    function CarregarEmpresaNomeEmpresa() {
        event.preventDefault();
        var item = $("#placa").val();


        $.ajax({
            url: "/api/ClientesApi/GetByNomeMensalista?placa=" + item,
            type: "GET",
            dataType: "JSON",
            success: function (arr) {
                var table = "";
                table += '<table class="table table-hover">';

                table += '<tr class="active">';
                table += '<td style="text-align: center;">Nome Cliente</td>';
                table += '<td style="text-align: center;">Carro</td>';
                table += '<td style="text-align: center;">Placa</td>';
                table += '<td style="text-align: center;">Selecione</td>';
                table += '</tr>';

                jQuery.each(arr, function (index, valor) {
                    //$("#placa").val(valor._placa);
                    //$("#nomeRepresentanteLegal").val(valor._idPessoaRepresentante._nome);
                    //$("#campocnpj").val(valor._cNPJ);
                    //console.log(valor);


                    table += '<tr>';
                    table += '<td style="text-align: center;">' + valor._nome + '</td>';
                    table += '<td style="text-align: center;">' + valor._carro + '</td>';
                    table += '<td style="text-align: center;">' + valor._placa + '</td>';
                    table += '<td style="text-align: center; cursor:pointer;"><a onclick="buscarCnpj(\'' + valor._nome + '\')">Selecionar</a></td>';
                    table += '</tr>';


                });
                table += "</table>";

                $("#listEmpresas").empty().append(table);

                $('#popUpEmpresas').modal('show');

                //if (valor._idEmpresa > 0);

                //else
                //    jAlert('Não existe empresas', 'Info');
            },
            error: function (valor) {
                $("#nomeRepresentanteLegal").val("");
                $("#campocnpj").val("");
                $("#fone").val("");
            }


        });


    }

    $("#btnBuscarPorCnpj").click(function () {
        CarregarEmpresaCnpj();
    });

    function buscarCnpj(nome) {
        $("#nomeCliente").val(nome);
        CarregarEmpresaCnpj();
        bloquearCampos();

        console.log(nome);
    }

    function CarregarEmpresaCnpj() {
        var item = $("#nomeCliente").val();


        $.ajax({
            url: "/api/ClientesApi/GetByNomeCliente?nomeCliente=" + item,
            type: "GET",
            dataType: "JSON",
            success: function (valor) {

                $("#placa").val(valor._placa);
                $("#carro").val(valor._carro);

                console.log(valor._nome);
                console.log(valor);
                if (valor._idMensalista > 0)
                    bloquearCampos();
                else
                    jAlert('PLACA não cadastrada', 'Info');
            },
            error: function (valor) {
                $("#placa").val("");
                $("#nomeCliente").val("");
            }
        });


    }

    function bloquearCampos(parameters) {
        $("#popUpEmpresas").modal("hide");
        $("#popUpRepresentante").modal("hide");
        $("#popUpCnpj").modal("hide");
        $("#nomeCliente").attr("disabled", false);
        $("#carro").attr("disabled", false);
        $("#placa").attr("disabled", false);
        $("#limparCampos1").removeClass("hide");
    }

    function limparCampos() {

        $("#limparCampos1").addClass("hide");
        document.getElementById('nomeCliente').value = "";
        document.getElementById('nomeCliente').disabled = false;
        document.getElementById('carro').value = "";
        document.getElementById('carro').disabled = false;
        document.getElementById('placa').value = "";
        document.getElementById('placa').disabled = false;
    }




</script>


